/* ======== GERAL ======== */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1f241f;
  color: #e0e6de;
  display: flex;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ======== SIDEBAR ======== */
.sidebar {
  width: 230px;
  background-color: #2d342d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  border-right: 1px solid #3f4b3f;
}

.logo {
  color: #d3e3cf;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: #dbe5d8;
  text-decoration: none;
  margin: 12px 0;
  padding: 10px 15px;
  background-color: #3d463d;
  border-radius: 12px;
  font-weight: 500;
  transition: 0.3s ease;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background-color: #4e5d4e;
}

.btn-sair {
  background-color: #212821;
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.btn-sair:hover {
  background-color: #3a463a;
}